[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2,<3.3"
djangorestframework = "*"
psycopg2-binary = "*"
dj-database-url = "*"
pydantic = "*"
pydantic-settings = "*"
psycopg2 = "*"
gunicorn = "*"
django-cors-headers = "*"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.11"
